*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    box-sizing: border-box;
    font-size: 1.2 em;
}

@font-face {
  font-family: Impact;
  src: local("Impact"),
       url('https://github.com/tmdwnsyang/poppers/blob/main/impact.ttf?raw=true') format('woff2'),
       url('https://github.com/tmdwnsyang/poppers/blob/main/impact.ttf?raw=true') format('woff');;
  font-weight: bold;
}

.subIntro {
    margin: 0px;
    width: 100%;
    float: left;
    border: 0.12em solid white;
    /* height: 3em; */
    padding: 0.8em 0.8em;
    text-align: center;
    font-size: 3.0em;
    background-color: lightseagreen;
    color: white;
    font-weight: lighter;
  }
  .subtextSmall{
    font-size: 10px;
  }

  

  .levelTile {
    margin: 0px;
    width: 33.3%;
    float: left;
    border: 0.12em solid white;
    height: 4em;
    padding: 0.9em 0.2em;
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
    color: black;
    background-color: orange;
  }
  .levelTile:hover{
    background-color: rgb(255, 133, 96);

  }


  input{
    font-size: 150%;  
    margin: 20px; 
    border-width: 0px 0px 5px 0px; 
  }


  .tile {
    margin: 0px;
    width: 25%;
    float: left;
    border: 0.12em solid white;
    height: 4em;
    padding: 1.35em 0px;
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
    color: white;
    visibility: hidden;
  }
 
  button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 0px;
  }
  button:hover {
  color: rgb(230, 230, 230);
  /* opacity: 0.6; */
  
}
  button, button::before{
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
  }

  .box {
    font-size: 0.2em;
    text-align: center;
    width: 100%;
    margin: 0px;
  }

  .hiddenTile {
    margin: 0px;
    width: 100%;
    float: left;
    border: 0.12em solid white;
    height: fit-content;
    padding: 0.8em 0px;
    text-align: center;
    font-size: 3.0em;
    background-color: white;
    color: white;
    visibility:hidden;
    display :none; 
  }

  .popupContainer{
    /* width: 100%; */
    /* height: 100vh; */
    /* background: #3c5077; */
    display: flex;
    align-items: center;
    font:white;
    justify-content: center;
       
  } 

  .popup{
    width: 400px;
    background: #fff;
    position: absolute;
    top: 10%;
    left:50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    border: 0.5em solid;
    box-shadow:0 3px 10px rgb(0 0 0);
    visibility: hidden;
    transition: transform 0.2s, top 0.4s;
  }
  .open-popup {
    visibility: visible;
    top: 30%;
    transform: translate(-50%, -30%) scale(1);
  }
  
  .mainImages{
    display: inline-block;
    vertical-align: middle;
    height: 50px;
  }
  
  .sharethis-inline-share-buttons{
    padding-bottom: 15px;
    /* visibility: hidden; */
  }

  
  .sharethis-inline-share-buttons-popup{
    padding-bottom: 15px;
    visibility: visible;
  }


  

.social-container {
	margin:0 auto;
  /* padding: 40px 0; */
	width:200px;
  height:100%;
}

/* Add this ID to a section or something you want to change the background-color */
#social-section {
  padding:60px 0;
  -webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
-ms-transition: all .2s ease-out;
-o-transition: all .2s ease-out;
transition: all .2s ease-out;
}

/* Button Styles */
.social-container a {
display: block;
width:200px;
line-height: 40px;
border: 1px solid rgba(0,0,0,.1);
color: rgba(0,0,0,.6);
margin:20px 0;
text-decoration: none;
text-align:center;
}

.social-container a::before {
  background-color: transparent;
  bottom: 0;
  content: '';
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.social-container a i {
margin-right: 15px;   
}

.social-container a:hover  {
border: 1px solid rgba(255,255,255,.3);
color: white;
  background-color: orange;
}

.social-container a,
.social-container a::before {
-webkit-transition: all .2s ease-in;
-moz-transition: all .2s ease-in;
-ms-transition: all .2s ease-in;
-o-transition: all .2s ease-in;
transition: all .2s ease-in;
}